header, section.success {
  background-color: #2C3E50;
}

header, #contact  {
  background-attachment: fixed;
}


#mainNav {
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.portrait {
  border-color: white;
  border-style: solid;
  height: 200px;
  border-width: 2px;
  border-radius: 500px;
}