header {
font-family:"Lucida Console", Monaco, monospace;
background-color: red;
opacity: .5;
width: 100%;
background-position: center;
height: 10%;
padding: 3% 3% 3% 3%;
text-align: center;
color: white;
font-size: 30px;
}

body{

  /*text-align: center;*/
}

b{
background-color: #F3E2A9

}

h2{
background-color: #F3E2A9;

}

.title{
font-weight: bold;
margin-left: 5%;
font-size: 13pt;

}


.text{
margin-left: 10%;
background-color: #CEF6EC;
}

.look{

font-family:"Lucida Console", Monaco, monospace;
background-color: transparent;
position: absolute;
left: -2%;
width: 30%;
height: 70%;
float: left;
margin-left: 5%;
/*border: solid;*/
display: inline-block;
overflow: scroll;

}


.query{
font-family:"Lucida Console", Monaco, monospace;
 background-color: transparent;
 position: absolute;
 right: 35%;
width: 30%;
height: 70%;
overflow: scroll;
/*border: solid;*/
}

.manipulate{
font-family:"Lucida Console", Monaco, monospace;
background-color: transparent;
width: 30%;
position: absolute;
right: -2%;
height: 70%;
float: right;
margin-right: 5%;
overflow: scroll;
/*border: solid;*/
}



footer{
font-family:"Lucida Console", Monaco, monospace;
background-color: #D8F6CE;
position: absolute;
bottom: 0%;
width: 100%;
height: 5%;
clear: both;

}