#main_window{
position: absolute;
left: 10%;
background-position: center;
background-color: green;
/*opacity: .5;*/
height: 90%;
width: 75%;
}

#controls{

position: relative;
left: 30%;
top: 60%;
width: 40%;
height: 40%;
background-color: transparent;
text-align: center;

}

#table{
position: absolute;
top: 10%;
background-color: red;
width: 90%;
height: 40%;
border: solid;
}

.input{
font-size: 60px;
width: 60px;
height: 60px;
position: absolute;
bottom: 30%;
}

.card{

position: relative;
left: 10%;
top: 0%;
width: 20%;
height: 40%;
background-color: transparent;



}

#card1{

position: relative;
left: 10%;
/*top: 10%;*/
width: 20%;
height: 40%;
background-color: transparent;


}


#card2{


position: relative;
left: 40%;
/*top: 10%;*/
width: 20%;
height: 40%;
background-color: transparent;



}


#card3{

position: relative;
left: 70%;
/*top: 10%;*/
width: 20%;
height: 40%;
background-color: transparent;

}

#card4{

position: relative;
left: 70%;
/*top: 10%;*/
width: 20%;
height: 40%;
background-color: transparent;

}

#card5{

position: relative;
left: 70%;
/*top: 10%;*/
width: 20%;
height: 40%;
background-color: transparent;

}