




table{
width:100%;
height: 100%;
}

#rules{
background-color: white;
position: absolute;
left: -100px;
top: 20%;
color: black;
font-family:"Lucida Console", Monaco, monospace;
border: solid;
font-size: 12px;
padding: 3% 3% 3% 3%;
margin-left: 35%;
width: 40%;
text-align: left;
}

#p1_bonus{
  position: absolute;
background-color: transparent;
font-size: 100%;
color: red;
height: 80px;
width: 200px;
top: 10%;
}


#p2_bonus{
  position: absolute;
background-color: transparent;
font-size: 100%;
color: red;
height: 80px;
width: 200px;
bottom: 0%;
}




#login{


background-color: #F5F6CE;
position: relative;
left: 0%;
font-size: 100%;
height: 150%;
width: 50%;
float: left;

}


#comps{


background-color: #F5F6CE;
position: relative;
left: 0%;
font-size: 100%;
height: 150%;
width: 50%;
float: right;
}

#player_update{
  position: absolute;
  top: 10%;
  right: 0%;
  color: red;
  background-color: transparent;
  width: 20%;
  height: 20%;
  font-size: 200%;
}

#hangman_wrapper{

  background-color: transparent;
  position: relative;
  top: 0%;
  right: 10%;
  width: 90%;
}

#game_window{
background-image: url("../wordgame/paper_bg.png");
background-position: top;
background-size: 100%;
top: 0%;
color: black;
font-family:"Lucida Console", Monaco, monospace;
font-size: 22px;
padding: 3% 3% 3% 3%;
margin-left: 0%;
width: 100%;
height: 100%;
text-align: center;
position: relative;
}

#playeroneletters
{

 background-color: transparent;
 padding: 3% 3% 3% 3%;
font-size: 12px;


}


#p1_portraittest{
  background-color: red;
  position: absolute;
  left: 10%;
  background-size: 100%;
  width:400px;
  height:400px;
}

#p1_portrait{
  background-color: transparent;
  position: absolute;
  right: 70%;
  bottom: 20%;
  text-align: center;
  width:400px;
  height:400px;

}


#p2_portrait {
  background-color: transparent;
  position: absolute;
  left: 65%;
  bottom: 20%;
  width:400px;
  height:400px;
}


#player_one{
background-color: transparent;
color: black;
position: relative;
right: 20%;
left: 20%;
font-family:"Lucida Console", Monaco, monospace;
font-size: 22px;
padding: 3% 3% 3% 3%;
width: 50%;
height: 20%;
text-align: center;
position: relative;
}

#tab
{
background-color: transparent;
width: 100%;
height: 100%;
padding: 3%,3%,3%,3%;
}
#but
{
width: 200px;
height: 200px;
background-color: black;
color: white;
border-style: solid;
font-size: 100%;
}

#rule_button{
background-color: transparent;
color: red;
}

#maingamecolumn
{
background-color: transparent;
position: relative;
width: 70%;

}

#controlpanel
{
background-color: transparent;
position: relative;
right: 20%;
left: 20%;
color: black;
padding-top: 1%;
width: 50%;
height: 10%;
font-size: 15pt;
text-align: center;
font-family:"Lucida Console", Monaco, monospace;
}

#player_one_purse
{
background-color: #3B0B17;
color: white;
position: relative;
right: 2%;
left: -20%;
font-family:"Lucida Console", Monaco, monospace;
font-size: 22px;
padding: 3% 3% 3% 3%;
width: 30px;
height: 20px;
text-align: center;


}

#player_two_purse
{
background-color: #3B0B17;
color: white;
position: relative;
right:-90%;
font-family:"Lucida Console", Monaco, monospace;
font-size: 22px;
padding: 3% 3% 3% 3%;
width: 30px;
height: 20px;
text-align: center;

}


#player_two{
background-color: transparent;
position: relative;
right: 20%;
left: 20%;
color: black;
font-family:"Lucida Console", Monaco, monospace;
font-size: 22px;
padding: 3% 3% 3% 3%;
width: 50%;
height: 30%;
text-align: center;
position: relative;
}



#update{
background-color: transparent;
color: red;
position: absolute;
bottom: -10%;

padding: 12px;
margin-left: 40%;
}

#update2{
background-color: transparent;
color: red;
position: absolute;
padding: 12px;
margin-left: 40%;
}


#techblogpage{
background-image: url("../websitebg.png");
background-repeat: repeat-y;
background-size: 100%;

}

#mainnavbar{
text-align: center;
background-color: transparent;

}

#navbarlinks{
color: black;
font-size: 25pt;

}

a{

  color:red;
}

a#in
{

  color: red;
}

#cartoon
{
background-color: transparent;
position: absolute;
left: 10%;
top: 150%;

}

#blog_home{
  background-color: transparent;
  position: relative;
  left: 10%;

}

#index_home{
  background-color: transparent;
  position: absolute;
  float: left;
  width: 50%;
  height: 70%;


}

html#tech{
/*background-image: url("../websitebg.png");*/
background-color: #6E6E6E;
background-repeat: repeat-y;
background-size: 100%;
}
#techlogo{
background-image: url("../blog/roboto6.png");
position: absolute;
left: 50%;
background-size: 100%;
width: 50%;
height: 50%;
background-color: transparent;
background-repeat: no-repeat;
float: left;
}
#techblogbody{
  position: relative;
  right: 10px;
  float: right;
  background-color: transparent;
  width: 100%;
  min-height: 1000px;
}

#topmenu{
  background-color: red;
  position: absolute;
  left: 10%;
  width: :90%;
  height:20%;


}
#back{

  background-color: red;

}


#middle_column{
background-image: url("../blog/roboto6.png");
background-size: 60%;
background-position: right;
background-repeat: no-repeat;
  background-color: white;
    position: absolute;
  padding: 3%, 3%, 3%, 3%;
color: black;
font-family:"Lucida Console", Monaco, monospace;
  margin-right: 10%;
  margin-left: 10%;
  width: 90%;
  height: 100%;
float: right;
  overflow: auto;

}

#middle{
  background-color: #F5DA81;



}

#social
{
  position: fixed;
  left: 2%;
  float: left;
  top: 5px;
width: 20%;
background-color: transparent;
overflow-y: scroll;

}

#social_main
{
  position: fixed;
  left: 2%;
  float: left;
  top: 50px;
width: 20%;
background-color: transparent;
overflow-y: scroll;

}

#navbar{
position: fixed;
color: black;
background-color: white;
opacity: .5;
right:5%;
top:0%;
font-family:"Lucida Console", Monaco, monospace;
font-size: 100%;
text-align: center;
}

.app_menu_item{
background-color: #F5F6CE;
background-color: black;
opacity: 0.90;
color: white;
font-family:"Lucida Console", Monaco, monospace;
font-size: 16px;
padding: 3%;
margin-left: 10%;
float: left;
width: 50%;
position: relative;
margin-top: 1%;
}

.app_picture{
  position: relative;
  float: right;
  width: 40%;
}

.resume_item_right{
float: right;
font-family:"Lucida Console", Monaco, monospace;
padding: 3% 3% 3% 3%;
width: 80%;
}
.resume_item_left{
float: left;
padding: 3% 3% 3% 3%;
width: 20%;
}

#toc2{


}



#toc{
  size: 30px;
  position: relative;
  left: 10%;
  top: 0%;
  width: 60%;
  background-color: #5858FA;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  color: white;
}
#menuitem{
  margin-left: 20px;
}



html#cult{
 background-image: url("../websitebgcult.png");
background-repeat: repeat-y;
background-size: 100%;
}

p{
margin-right: 20%;
margin-left: 10%;
display: inline-block;
}

h5{
font-size: 13pt;
color: red;

}

#example{
background-color: #F5F6CE;
color: black;
font-family:"Lucida Console", Monaco, monospace;
font-size: 12px;
padding: 3% 3% 3% 3%;
margin-left: -10%;
width: 100%;
position: relative;

}

#eg{
background-color: transparent;
color: red;
border-style: solid;
position: absolute;
padding: 12px;
margin-left: 40%;


}


#mainpage{
/* background-image: url("../websitebgmain.png");*/

background-color: white;
background-repeat: repeat-y;
background-size: 100%;

}

#mainlogo{

position: absolute;
left: 50px;
background-size: 100%;
width: 50%;
height: 100%;
background-color: #5858FA;
background-repeat: no-repeat;
float: left;

}

#maintext{}


#blogcontent{
padding-bottom: 10%;
padding-right: 10%;
padding-left: 0%;
padding-top: 0%;
background-color: transparent;
color: black;
font-family:"Lucida Console", Monaco, monospace;
font-size: 12px;
margin-left: 0%;
width: 80%;
position: relative;
}

#cult_blog_entries{
float: left;
width: 30%;

}

#tech_blog_entries{
float: left;
width: 30%;
}

#blogcontent_side_menu{
width: 20%;


}


#tech_blog_entries_list{
  position: relative;
float: left;
width: 40%;
height: 40%;
overflow-y: scroll;
}

#cult_blog_entries_list{
position: relative;
float: left;
width: 40%;
overflow-y: scroll;
}

#blog_list{
position: fixed;
top: 5%;
right:-5%;
width: 50%;
}

.blog_menu_item{
background-color: #F5F6CE;
background-color: white;
opacity: 0.75;
color: black;
font-family:"Lucida Console", Monaco, monospace;
font-size: 100%;
padding: 3% 3% 3% 3%;
margin-left: 5%;
float: left;
width: 90%;
position: relative;
margin-top: 1%;
}

.date{
float: right;
}

#fontbuttons{
float: left;

}

.blog_date{
font-size: 15pt;
color: white;
background-color: black;

}

#cultlogo{
background-image: url("../blog/cultroboto.png");
background-size: 100%;
width: 30%;
background-repeat: no-repeat;


}


#top{

height: 200px;

}

#websiteheader
{
  background-color: transparent;
background-image: url("../websitetitle.png");
background-repeat: no-repeat;
text-align: center;
background-size: 100%;
width: 70%;
height: 100px;
border-bottom: double 10px white;
}

#header{
background-color: transparent;
width: 50%;
float: left;
position: absolute;
left: 0%;
}

#head{
background-color: transparent;
width: 50%;
margin-left: 10%;
}

#space
{
vertical-align: top;
background-color: transparent;

}

h1{
font-size: 60px;
}
h3{
margin-left: 5%;

}

main{
margin-left: 20%;

}

#blog
{

vertical-align: top;
height: 1000px;
/*background-image: url("../bg2.png");*/


}

#bottom{


}