#wrapper{
  position: fixed;
  height: 100%;
  width: 100%;
/*margin: auto;*/
background-color: black;

}

#word_board{
  position: fixed;
  top: 10%;
  left: 25%;
  background-color:transparent;
  height: 80%;
  width: 50%;
  margin: auto;
  text-align: horizontal;
  overflow: hidden;
}

.letter{
  position: relative;
  top: 0%;
/*background-color: #61210B;*/
background-color: transparent;
float: left;
height: 8%;
width: 8%;
margin: 2%;
color: white;
font-size: 40pt;
/*font-size: 14pt;*/
text-align: center;
font-family: Lucidatypewriter, monospace;
/*vertical-align: center;*/
}

.UI{
  background-color:#F5ECCE;
  background-color: black;
  color: white;
  font-size: 23pt;
  font-family: monospace;
  margin: 2%;
}

#wordbank{
position: fixed;
left: 0%;
top: 0%;
height: 50%;
width: 20%;
overflow: scroll;
}

#podium{
  position: fixed;
  bottom: 0%;
 height: 40%;
width: 20%;

}

#word{
  position: fixed;
  top: 0%;
  left: 21%;
width: 55%;
height: 5%;
text-align: center;
margin-top: 1%;
margin: auto;
  background-color:#F5ECCE;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 30pt;
  font-family: monospace;
  margin: 2%;
}

#score{
  position: fixed;
  top: 0%;
  right: 0%;
height: 30%;
width: 20%;
padding-left: 2%;
  padding-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  font-size: 200pt;
}

#instructions{
  position: fixed;
  right: 0%;
  bottom: 0%;
  font-size: 12pt;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
height: 40%;
width: 15%
}

.shufflebutton{
  background-color: #61210B;
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  font-size: 16pt;
  height: 5%;
  width: 50%;
  bottom: 5%;
  left: 24%;
}


.current_select{

}